*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}
body{
    background: #f0ecec;
    color: rgb(11, 1, 1);
    overflow: hidden;
    overflow-y: scroll;
}